PORT=3000
SQLITE_DB_PATH=./data/b24-calendar.sqlite

BITRIX_WEBHOOK_URL=https://your-bitrix-host/rest/1/webhook-code
BITRIX_USER_ID=1
BITRIX_AUTH_TOKEN=
BITRIX_CALENDAR_ID=

YANDEX_BASE_URL=https://caldav.yandex.ru
YANDEX_USERNAME=login@yandex.ru
YANDEX_PASSWORD=app-password
YANDEX_CALENDAR_URL=

SYNC_ENABLED=false
